
<div class="bottomBadge">
    <div class="fontSize1">Цього тижня</div>
    <div class="fontSize1">НА ВСЕ</div>
    <div>------------</div>
    <div class="fontSize1">-20%</div>
</div>

<div class="bottomPanel col-md-8 col-sm-7 col-xs-7">
    <div class="fontSize">Pizza.22 - практичний проект в межах курсу JavaScript в Києво-Могилянській Академії</div>
    <div class="fontSize">Доставка піци не здійснюється</div>
</div>
<img src="assets/images/rex.png" class="rectIM">


<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
</body>
</html>